<template>
  <v-container>
    <v-layout
      text-center
      wrap
    >
      <v-text-field
        v-model="bot.about.name"
        label="Bot Name"
      ></v-text-field>
      <v-text-field
        v-model="bot.about.author"
        label="Bot Author"
      ></v-text-field>
      <v-textarea
        label="Bot Description"
        v-model="bot.about.description"
        hint="Hint text"
      ></v-textarea>
      <v-textarea
        label="Bot Startup Message"
        v-model="bot.startup.message"
        hint="Hint text"
      ></v-textarea>
      <v-text-field
        v-model="bot.startup.channel"
        label="Bot Startup Channel"
      ></v-text-field>
      <v-text-field
        v-model="channel"
        :append-outer-icon="'mdi-plus'"
        label="Active Channel Name"
        type="text"
        @click:append-outer="addChannel"
      ></v-text-field>
      <v-list>
        <v-list-item
          v-for="(channel, index) in bot.channels"
          :key="'c' + index">
          {{channel}}
        </v-list-item>
      </v-list>
      <v-btn @click="dl">dl</v-btn>
    </v-layout>
  </v-container>
</template>

<script>
export default {
  data: () => ({
    channel: '',
    bot: {
      about: {
        name: '',
        author: '',
        description: ''
      },
      startup: {
        message: '',
        channel: ''
      },
      channels: [],
      commandSymbol: '!',
      commands: []
    },
  }),
  methods: {
    addChannel() {
      if (this.channel.length > 0) {
        this.bot.channels.push(this.channel);
        this.channel = '';
      }
    },
    dl() {
      var link = document.createElement('a');
      link.download = 'data.json';
      var blob = new Blob([JSON.stringify(this.bot, null, 2)], {type: 'text'});
      link.href = window.URL.createObjectURL(blob);
      link.click();
    }
  },
  mounted() {
  }
};
</script>
